<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Times Table</title>
</head>
<body class="container">
    <div id="app">

        <h1 class="mb-3">Times Table</h1>

        <div class="row settings">
            <div class="col-5">
                <label for="rows" class="sr-only">Rows</label>
                <input v-model="rows" v-bind:max="max" id="rows" class="form-control" placeholder="Rows" type="number" size="10" min="1">
            </div>

            <div class="col-2">
                <p class="times text-center">&times;</p>
            </div>

            <div class="col-5">
                <label for="cols" class="sr-only">Columns</label>
                <input v-model="cols" v-bind:max="max" id="cols" class="form-control" placeholder="Columns" type="number" size="10" min="1">
            </div>
        </div>

        <table v-if="readyForDisplay" class="table table-bordered mt-5">
            <tr>
                <th v-for="(header, index) of headers"
                    v-bind:class="{ highlighted: highlight === index}"
                    v-on:mouseover="highlight = index"
                    v-on:click="highlight = index"
                    v-on:mouseout="highlight = null">{{ header }}</th>
            </tr>
            <tr v-for="(row, rowIndex) of multiples">
                <th v-bind:class="{ highlighted: highlight === 0 }"
                    v-on:mouseover="highlight = 0"
                    v-on:click="highlight = 0"
                    v-on:mouseout="highlight = null">{{ row[0] }}</th>
                <td v-for="(cell, colIndex) of row"
                    v-if="colIndex > 0"
                    v-bind:class="{ highlighted: highlight === colIndex }"
                    v-on:mouseover="highlight = colIndex"
                    v-on:click="highlight = colIndex"
                    v-on:mouseout="highlight = null">{{ cell }}</td>
            </tr>
        </table>
        <p v-else-if="outsideBounds" class="mt-5 alert alert-warning">Please limit yourself to {{ max }} rows/columns. Don't get crazy.</p>
        <p v-else class="mt-5">Enter the number of rows and columns to generate a times table.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
